.Rproj.user

# Text files
*.csv

# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData
*.rda
*.rdata
*.rda
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/